<!DOCTYPE html>
 <!-- CTA -->
    <section class="bg-primary pt-4 pb-8 md:pb-0" id="cta">
      <div class="container">
        <!-- wrapper -->
        <div
          class="grid grid-cols-1 md:flex md:flex-row text-white justify-center items-center"
        >
          <img src="../IMG/chef.png" alt="" class="hidden md:block  md:w-2/5 max-w-xs" />
          <div class="cta-content">
            <h4 class="text-center text-3xl mt-6  uppercase">
              Let's Connect
            </h4>
            <p class="text-center font-medium">
              and get a 10% off bill offers and invites
            </p>
            <div class="email-subscription">
              <input
                type="text"
                name=""
                id=""
                placeholder="YOUR EMAIL ADDRESS"
              /><button>Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </section>
