<!DOCTYPE html>
<!-- Footer Template -->
   
        <!-- Footer -->
    <footer class="bg-white py-6">
      <div class="container">
        <div class="grid grid-cols-1 items-center justify-center text-center">
          <!-- Logo -->
            <img src="../img/LOGO.png" alt="" class="mx-auto"/>
          
          <!-- Business Info -->
          <div class="footerInfo">
            <!-- address -->
            <ul>
              <li><h5>address</h5></li>
              <li>
                <p>570 8th Ave, New York, NY</p>
                <p>10018 United States</p>
              </li>
            </ul>
            <!-- Book a table -->
            <ul>
              <li><h5>book a table</h5></li>
              <li>
                <p>Dogfood Och Sliders Foodtruck.</p>
                <p>Under Om Oss Kan Ni Lasa</p>
              </li>
            </ul>
            <!-- Schedule -->
            <ul>
              <li><h5>opening hours</h5></li>
              <li>
                <p>Monday - Friday</p>
                <p>10.00 AM - 11.00 PM</p>
              </li>
            </ul>
          </div>
          <!-- Contact Number -->
          <small class="text-primary">0123456987</small>
        </div>
      </div>
    </footer>
   