<!DOCTYPE html>
<!-- Header Template -->

        <!-- Header -->
    <header class="pt-6">
      <div class="container">
        <div class="flex justify-between items-center">
          <img src="../IMG/LOGO.png" alt="get pizza logo" class="h-16 w-36" />
          <nav class="headerNav">
            <ul>
              <li><a href="./">home</a></li>
              <li><a href="./about.html">about</a></li>
              <li><a href="./menu.html">menu</a></li>
              <li><a href="./contacts.html">contacts</a></li>
            </ul>
          </nav>
          <!-- Toggle Menu -->

          <!-- Toggle Menu here -->
          <div class="toggleMenu"><span></span><span></span><span></span></div>
        </div>
        <!-- Information Text -->
         <div class="flex justify-center items-center text-primary gap-3 mt-4 pb-1 text-center">
            
            <p class="font-medium text-center"><i class="fa-solid fa-bullhorn"></i>  This website provides information about our store. Online transactions are coming soon</p>
         </div>
      </div>
    </header>

