<!DOCTYPE html>
<!-- home menu -->
    <section class="bg-tertiary py-8" id="home-menu">
      <div class="container">
        <h2 class="text-center uppercase mb-4">
          We offer people best way to eat best food
        </h2>
        <!-- Tab Icons -->
        <div class="tabIcons">
          <ul>
            <li class="active" id="tabs-1">
              <button><i class="fa-solid fa-pizza-slice"></i></button>
            </li>
            <li id="tabs-2">
              <button><i class="fa-solid fa-burger"></i></button>
            </li>
            <li id="tabs-3">
              <button><i class="fa-solid fa-drumstick-bite"></i></button>
            </li>
            <li id="tabs-4">
              <button><i class="fa-solid fa-glass-water"></i></button>
            </li>
            <li id="tabs-5">
              <button><i class="fa-solid fa-cake-candles"></i></button>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div class="tabCards">
          <!-- item 1 - Pizza-->
          <div class="tabItem active" id="tabs-1-card">
            <div class="tabItemWrap">
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/prosciutto.png" alt="" />
                <!-- Food Name -->
                <h4>PROSCIUTTO PIZZA</h4>
                <!-- price -->
                <p>$25.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>

                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/bbq pizza.png" alt="" />
                <!-- Food Name -->
                <h4>BARBECUE PIZZA</h4>
                <!-- price -->
                <p>$25.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
            </div>
          </div>
          <!-- item 2 - Burger-->
          <div class="tabItem" id="tabs-2-card">
            <div class="tabItemWrap">
              <!-- 1 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/CHEESE BURGER.png" alt="cheese burger" />
                <!-- Food Name -->
                <h4>CHEESE BURGER</h4>
                <!-- price -->
                <p>$15.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
              <!-- 2 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/CHEESE BURGER.png" alt="cheese burger" />
                <!-- Food Name -->
                <h4>CHEESE BURGER</h4>
                <!-- price -->
                <p>$18.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
            </div>
          </div>
          <!-- item 3 - Chicken-->
          <div class="tabItem" id="tabs-3-card">
            <div class="tabItemWrap">
              <!-- 1 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/CHICKEN WITH BREAD.png" alt="" />
                <!-- Food Name -->
                <h4>FILLET WITH BREAD</h4>
                <!-- price -->
                <p>$45.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
              <!-- 2 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/CHICKEN WITH BREAD.png" alt="" />
                <!-- Food Name -->
                <h4>FILLET WITH BREAD</h4>
                <!-- price -->
                <p>$58.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
            </div>
          </div>
          <!-- item 4 - Drinks-->
          <div class="tabItem" id="tabs-4-card">
            <div class="tabItemWrap">
              <!-- 1 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/ORANGE DRINK.png" alt="orange drink" />
                <!-- Food Name -->
                <h4>ORANGE DRINK</h4>
                <!-- price -->
                <p>$10.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
              <!-- 2 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/ORANGE DRINK.png" alt="orange drink" />
                <!-- Food Name -->
                <h4>ORANGE DRINK</h4>
                <!-- price -->
                <p>$12.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
            </div>
          </div>
          <!-- item 5 - Cakes-->
          <div class="tabItem" id="tabs-5-card">
            <div class="tabItemWrap">
                <!-- 1 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/MUFFIN-CAKE.png" alt="" />
                <!-- Food Name -->
                <h4>MUFFIN CAKE</h4>
                <!-- price -->
                <p>$23.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
                <!-- 2 -->
              <div class="tabCard">
                <!-- Food Image -->
                <img src="../IMG/MUFFIN-CAKE.png" alt="" />
                <!-- Food Name -->
                <h4>MUFFIN CAKE</h4>
                <!-- price -->
                <p>$20.00</p>
                <!-- Ratings -->
                <ul class="foodRating">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="#" class="btn btn--tertiary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>